<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Tomar Foto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">

  <ion-row class="container">
    <ion-col size="12" class="top text-center" (click)="sacarFotoLinda()">
      <div class="contenedor">
        <img src="assets/lindo.png" style="width: 80%;" alt="lindo">
        <div class="centradoTop">LINDAS</div>
      </div>
    </ion-col>
    <ion-col size="12" class="bottom text-center" (click)="sacarFotoFea()">
      <div class="contenedor">
        <img src="assets/feo.png" style="width: 80%;" alt="feo">
        <div class="centradoBot">FEAS</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>